body {
  background-color: #000;
  font-family: "DM Sans", sans-serif;
}

.logo {
  width: 80px;
  padding: 10px 0px 10px 16px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar__navigation {
  background-color: #121212;
  border-radius: 8px;
  margin: 10px 0px;
  padding-bottom: 10px;
}

.sidebar__list {
  margin-top: 20px;
  padding: 0 20px 10px 0px;
}

.sidebar__item {
  padding: 10px 5px 5px 16px;
}

.item{
  display: flex;
  color: #b3b3b3;
  text-decoration: nome;
  font-weight: 600;
  font-size: 14px;
  padding: 0 20px 10px 0;
}

.sidebar__item span {
  padding: 5px;
}

.icon-right {
  margin-left: auto;
}

.playlist {
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 8px;
  margin: 16px;
}

.title {
  padding: 10px 20px 10px 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 16px;
}

.subtitle {
  padding: 10px 20px 10px 10px;
  font-size: 14px;
  padding: 16px;
}

.button {
  border-radius: 50px;
  font-weight: 600;
  padding: 10px 20px;
  margin: 10px;
  margin-bottom: 20px;
}